---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    title:
      "A solo founder used Cofounder AI to launch a B2B SaaS — we generated his landing page and a week of Twitter posts, bringing in 73 leads and 11 paying users in 7 days.",
    link: "https://google.com",
  },
  {
    index: 1,
    title:
      "Another founder with just an idea used our AI to build a content plan and waitlist funnel — he got 182 signups and 400 new followers in 2 weeks.",
    link: "https://google.com",
  },
  {
    index: 1,
    title:
      "A small AI startup used Cofounder AI to revamp their messaging and email strategy — their retention grew by 17%, and they started getting inbound demos.",
    link: "https://google.com",
  },
];

import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<div class="mt-20">
  <Section id="cases">
    <SectionTitle
      sectionTitle="Case Studies"
      description="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies"
    />
    <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
      {
        cards.map((card) => (
          <Card>
            <div class="flex p-[60px] h-full bg-dark text-gray rounded-[45px] m-[1px]">
              <div class="flex flex-col gap-5">
                <p>{card.title}</p>
                <a href={card.link} class="flex items-center gap-[15px]">
                  <span class="text-green">Case Info</span>
                  <picture>
                    <Image src={larrow} alt="Arrow pointing up right" />
                  </picture>
                </a>
              </div>
            </div>
          </Card>
        ))
      }
    </div>
  </Section>
</div>